<div class="topnav">
    <a href="/">Home</a>
    <p class="header-title"><%= pageTitle %></p>
    <ul class="nav-links">
        <li class="clickable-link"><a href="/cats">Cats</a></li>
        <li class="clickable-link"><a href="/dogs">Dogs</a></li>
        <li class="clickable-link"><a href="/birds">Birds</a></li>
        <li class="clickable-link"><a href="/rocks">Rocks</a></li>
    </ul>
</div>