<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <!-- ha en if statement baserad på booleanen i dog router  => puppy routern. -->
    if(isPuppy){
        <!-- puppy partial -->
    } else if (isWolf) {
        <!-- wolf partial -->
    }
    <%- include("../partials/main-content.ejs") %>
</body>
</html>